{%extends 'base.html'%}
{% load static %}
{%block title %}
<title>GastroEmpleo</title>
{%endblock%}
{%block page_content1 %}

</header>

<div class="cartadiv">
    <div class="cartadivdos">
    <h1>Ofertas de empleo</h1>

        {% for empleo in empleos %}
        <div class="col4">
            <div class="col2">
                <h2  class="card-title">{{empleo.puesto}}</h2>
                <img class="imghome" src="{% static 'img/'%}{{empleo.foto}}" width="500" height="400">
                <br>
                <br>
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'offer' empleo.pk%}">Ver oferta</a>
                </div>
           </div>
        </div>
        {%endfor%}
    </div>
</div>


{%endblock%}
