{% extends 'base.html' %}
{%load static%}
{% block page_content1 %}

<div class="bodyPlato">
    <div class="plato">
      <img
        class="plato_image"
        src="{% static 'img/' %}{{empleo.foto}}"
        alt="imagenOfertaEmpleo"
      />
      <div class="plato_text">
        <h2 class="dishName">{{empleo.puesto}}</h2>
  
        <h3 class="dishPrice">{{empleo.mail}}</h3>
        <br>
        <p class="dishDescription">{{empleo.description}}</p>
      </div>
    </div>
  </div>




{% block page_content2 %}
{% endblock %}
{% endblock %}