

 {% extends 'main.html' %}  {% load static %}
 {% block page_content2 %}
  <link rel="stylesheet" href="{% static 'css/carta.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>

  <body>
    <div class="carta">
      <div class=" dashed">CARTA</div>
    </div>
      <div class="PRIMER PLATO">
        <div id="primero" class="hipsterish">PRIMER PLATO</div>
      </div>

      <div id="primero" class="w3-container w3-white w3-padding-32">
        {% for plato in cartaFirst %}
        
        <div class="card-body">
          <h2 class="card-title">
            <b>{{plato.name}}</b>
            <span class="w3-right w3-tag w3-dark-grey w3-round"
              >{{plato.price}}</span
            >
          </h2>
        </div>
      </div>
      {% endfor %}

      <br>
      <div class="sorta-block">
        <div id="segundo" class="sorta">SEGUNDO PLATO</div>
      </div>

      <div class="w3-container w3-white w3-padding-32">
        {% for plato in cartaSecond %}
        
        <div class="card-body">
          <h2 class="card-title">
            <b>{{plato.name}}</b>
            <span class="w3-right w3-tag w3-dark-grey w3-round"
              >{{plato.price}}</span
            >
          </h2>
        </div>
      </div>
      {% endfor %}
        
      <br>
      <div class="sorta-block">
        <div class="dashed-shadow hipsterish">POSTRE</div> <br />
      </div>
      <div class="w3-container w3-white w3-padding-32">
        {% for plato in cartaThird %}
        
        <div class="card-body">
          <h2 class="card-title">
            <b>{{plato.name}}</b>
            <span class="w3-right w3-tag w3-dark-grey w3-round"
              >{{plato.price}}</span
            >
          </h2>
        </div>
      </div>
      {% endfor %}
    {% endblock %}

 