{% extends 'main.html' %}  {% load static %}
 {% block page_content2 %}
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/general.css' %}">

  <body>
      <div class="cartadiv">
        <div class="cartadivdos">
          <h1>CARTA</h1>
          
          <h2>PRIMER PLATO</h2>
          <div id="primero">
            {% for dish in cartaFirst %}
              <h2 class="card-title">
                <b class="subrayado"><a href = "{% url 'dish' dish.pk %}" > {{dish.name}}</h2></a></b>
                <p class="precio">  {{dish.price }} € </p>
            {% endfor %}
          </div>
          

          <br>
            <h2>SEGUNDO PLATO</h2>      
            <div class="segundo">
            {% for dish in cartaSecond %}
              <h2 class="card-title">
                <b class="subrayado"><a href = "{% url 'dish' dish.pk %}"> {{dish.name}}</h2></a></b>
                <p class="precio"> {{dish.price}} € </p>
              
              {% endfor %}
          </div>
            
          <br>
          <h2>POSTRE</h2>
          <div class="postre">
          {% for dish in cartaThird %}
              <h2 class="card-title">
                <b class="subrayado"><a href = "{% url 'dish' dish.pk %}"> {{dish.name}}</h2></a></b>
                <p class="precio"> {{dish.price}} € </p>
              
            {% endfor %}
          </div>
        </div>
    </div>
    {% endblock %}