{% extends 'main.html' %}  {% load static %}
{% block page_content2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Novedades</h1>
    <p>Las personas menores de 13 años tienen un 50% de descuento.</p>
    <p>Tenemos carne de Kobe de primera calidad.</p>
    <p>Hay cócteles sin alcohol.</p>
    <p>Hemos abierto un salón solo para reservas.</p>
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/v8W_SJPWUmI" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>
</body>
</html>
{% endblock %}