{%extends 'main.html'%}
{% load static %}


{%block page_content %}
<h1>Dónde estamos</h1>

<div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.1107004270766!2d-3.6242503845996645!3d40.561232579348605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422cdf65eec6ed%3A0x51c424f3480d2e0d!2sP.%C2%BA%20Mar%C3%ADa%20de%20Maeztu%2C%204%2C%2028702%20San%20Sebasti%C3%A1n%20de%20los%20Reyes%2C%20Madrid!5e0!3m2!1ses!2ses!4v1649068963147!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div>
        <div>
            <h3 >P.º María de Maeztu, 4, 28702 San Sebastián de los Reyes, Madrid
            </h3>
        </div>  
        
    </div>
</div>
    

{%endblock%}

