{% extends 'base.html' %}
{%load static%}

{% block page_content1 %}
            <nav class="navbar navbar-default">
                  <ul class="nav navbar-nav" class="nav">
                    <li><a href="/gastrobar/carta">Carta</a></li>
                    <li><a href="/gastrobar/menu">Menú del dia</a></li>
                    <li><a href="/gastrobar/reservation">Reserva</a></li>
                    <li><a href="/gastrobar/map">¿Dónde estamos?</a></li>
                    <li><a>Contacto</a></li>
                  </ul>
              </nav>
        </header>

{% block page_content2 %}

{% endblock %}
{% endblock %}

        
  
