{% include 'mainBlog.html'%}
{% load static %}

{%block page_content %}
<h1>Blog</h1>

<div class="row">
    <div class="col-md-8">

        <form action="/blog" method="post">
        {% csrf_token %}

            <div class="form-group" >
                {{form.user}}
            </div>

            <div class="form-group" >
                {{form.comment}}
            </div>


            <button type="submit" class="btn btn-primary" >Enviar</button>

        </form>
    </div>
</div>



    

{%endblock%}

