{% include 'mainBlog.html'%}
{% load static %}

{%block page_content %}
<h1>Blog</h1>
<body>


<div class="row">
    <div class="col-md-8">
        
        {% for article in articles %}

            <div>
                {{article.content}}
            </div>

            <form action="/gastroblog/" method="post">
            {% csrf_token %}

                <div class="form-group" >
                    {{form.user}}
                </div>

                <div class="form-group" >
                    {{form.comment}}
                </div>
                <input name = "article_id" type = "hidden" value = {{article.pk}}>

                <button type="submit" class="btn btn-primary" >Enviar</button>

            </form>

            <div>
                {% for comment in comments %}
                
                    {% if comment.article_id == article.pk %}
                    
                        <div>
                            {{comment.user}}
                        </div>

                        <div>
                            {{comment.comment}}
                        </div>

                    {% endif %}
                
                {% endfor %}
            </div>
        </body>
        {% endfor %}

    </div>
</div>



    

{%endblock%}

