{% extends 'mainBlog.html'%}
{% load static %}

{% block page_content2%}
<h1 class="title">Blog</h1>
<body class="blog">


<div class="row">
    <div class="col-md-8">
        
        {% for article in articles %}

        <br>
        <div class="articulo" >
            <h3>{{article.content}}</h3>          

            <form action="/gastroblog/" method="post">
            {% csrf_token %}
            <br>

            <p>Escribe un comentario</p>

                <div class="form-group" >
                    {{form.user}}
                </div>

                <div class="form-group" >
                    {{form.comment}}
                </div>
                <input name = "article_id" type = "hidden" value = {{article.pk}}>

                <button type="submit" class="btn btn-primary buttonblog" >Enviar</button>

            </form>


            <p>Comentarios</p>
            <div class="comments">
                {% for comment in comments %}
                
                    {% if comment.article_id == article.pk %}
                    
                        <div class="user">
                            {{comment.user}}
                        </div>

                        <div class="comment">
                            {{comment.comment}}
                        </div>

                    {% endif %}
                
                {% endfor %}
            </div>
        </div>
        </body>
        {% endfor %}

    </div>
</div>

{%endblock%}