{% extends 'base.html'%} <!--nombre temporal al html de la base general-->
{% block title %}
<title>GastroBlog</title>
{% endblock %}
{% block page_content1 %}
{%load static%}

            <nav class="navbar navbar-default">
                  <ul class="nav navbar-nav" class="nav">
                    <li><a href="/gastroblog/">Inicio</a></li>
                    <li><a href="/gastroblog/contacto">Contacto</a></li>
                  </ul>
              </nav>
        </header>

       


{% block page_content2 %}

{% endblock %}
{% endblock %}


