body {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 50pt;
    background: #f7e691;
    text-align: center;
    line-height: 1.2em;
    
  }

.carta{
    position: relative;
}
/* 
@keyframes dash-animation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .sorta-block {
    font-size: 50pt;
    line-height: 1.1em;
    -moz-transform: skew(0, -5deg);
    -ms-transform: skew(0, -5deg);
    -webkit-transform: skew(0, -5deg);
    transform: skew(0, -5deg);
    z-index: 3;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #900c3f;
  }

  .hipsterish {
    font-family: "Sancreek", cursive;
    font-size: 50pt;
    color: #900c3f;
    z-index: 0;
  }

 .primer{
     z-index: 0;
 } 
  
  .dashed-shadow-text {
    font-size: 100pt;
    line-height: 0.7em;
    color: #900c3f;
  }
  
  .shadow {
    color: #900c3f;
    font-size: 100pt;
    line-height: 0.8em;
  }
*/