<!DOCTYPE html>
<html lang="es-ES">
    {%load static%}
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="icon" sizes="57x57" href="{% static 'img/djangocopy.ico' %}">
        <link rel="stylesheet" href="{% static 'css/general.css' %}">

        <title>GastroBar</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <header class="header">
        <a href="../"><img src="{%static 'img/django.jpg'%}" alt="Logo" width="10%" height="100%" ></img></a>
    {% block page_content1 %}

    {% endblock %}
    
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">GastroBar© 2022</p>
            <a href="../legalAdvice">Aviso legal</a>
            <a href="../privacy">Política privacidad</a>
        </footer>
    </div>

    </body>
</html>